@{ Layout = "/Views/Shared/_Layout.cshtml"; }

<div class="profile-page">
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Registration Unavailable</h3>
                    <div class="card-subtitle">Forms registration unavailable</div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-xl-12">
                                <div class="form-group">
                                    Forms registration is not currently available.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>